{% extends "layout.html" %}
{% block title %}Schulen{% endblock %}


  {% block content %}


    {% for anime in animes %}
    <div class="grid grid-cols-3 gap-4 m-4">
        <img src="{{anime.image.url}}">
        <h3>{{anime.name}}</h3>

        <a href="#" cla>
            <button class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">
                {{anime.types}} - {{anime.id}}
            </button>
        </a>
    </div>
    
    {% endfor %}
    
    {% endblock %}