{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Photo Gallery</title>
    <link rel="stylesheet" href={% static 'style.css' %}>
</head>
<body>
    <div class="container">
        <h1>My Favorite Anime</h1>
        <img src="https://m.media-amazon.com/images/I/81BSdyGwW1L.jpg" alt="Anime Photo" class="anime-image">
        <p>This is a brief description of my favorite anime.</p>
    </div>
</body>
</html>
